<div class="footer clearfix">
    <%if (active=='pages') {%>
    	<a href="/showEdit" class="f_r edit" id="edit">
    		<i class="fa fa-edit fa-lg"></i>
    	</a>
    <%} else if(active=='edit'){%>
        <span class="f_l trash">
            <i class="fa fa-trash fa-lg"></i>
        </span>
        <span class="f_r edit" id="edit">
            <i class="fa fa-edit fa-lg"></i>
        </span>
    <%}%>
</div>