<header class="clearfix header">
    <%if (active=='pages') {%>
	    <a href="javascript:;" class="return-button">
	        <i class="fa fa-chevron-left fa-lg"></i>
	    </a>
	    <strong class="f_r" id="edit-items">编辑</strong>
    <%} else if(active=='edit'){%>
        <a href="javascript:;" class="return-button">
	        <i class="fa fa-chevron-left fa-lg memorandum"></i>
	        备忘录
	    </a>
	    <strong class="complete f_r" id="complete">完成</strong>
    <%}%>
</header>