<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>node-note</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/reset.less" rel="stylesheet/less"/>
    <script src="/js/less.js" type="text/javascript" charset="utf-8"></script>
    <style type="text/css">
        .container{
            padding-top: 15px;
        }
    </style>
</head>
<body>

<div class="container">
    <%=username%>
    <form class="form-horizontal">
        <textarea class="form-control text" rows="3"></textarea>
        <button type="button" class="btn btn-default record btn-customized">记录</button>
    </form>
</div>



<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/underscore-noflect.js"></script>

<script type="text/javascript">
    $('.record').click(function () {
        $.post('/record',{
            'content': $('.text').val()
        },function (result) {
            /*if (result.result==-1) {
                
            } else if(result.result==1){
                console.log(1);
            }  */    
        })   
    })
</script>
</body>
</html>