<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="icon" href="/images/favicon.ico">
    <title>node-note</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet/less" href="/css/reset.less"/>
    <link rel="stylesheet/less" href="/css/main.less"/>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <script src="/js/less.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" data-appid="101466046" data-redirecturi="http://localhost:3389/sigin" charset="utf-8"></script>
</head>
<body>
<div class="vs home login login-register">
    <div class="logo-container">
        <a href="/" target="_self">
            <img src="/images/logo.png" alt="" class="logo">
        </a>
    </div>
    <div class="sign-in">
        <ul class="modes-tabs">
            <li class="tabs-item item-message active" mode="message">短信登录</li>
            <li class="tabs-item item-password" mode="password">密码登录</li>
        </ul>
        <ul class="modes-forms">
            <li class="forms-item">
                <div class="form-item clearfix">
                    <i class="fa fa-phone fa-lg label-icon"></i>
                    <input type="tel" class="form-control" maxlength="11" id="telephone" placeholder="手机号">
                    <button class="get-code" disabled="disabled">获取验证码</button>
                </div>
                <div class="form-item clearfix">
                    <i class="fa fa-file-text-o fa-lg label-icon"></i>
                    <input type="text" class="form-control" id="identifying-code" placeholder="验证码">
                </div>
            </li>
            <li class="forms-item">
                <form>
                    <div class="form-item clearfix">
                        <i class="fa fa-user fa-lg label-icon"></i>
                        <input type="text" class="form-control" id="username" placeholder="用户名">
                    </div>
                    <div class="form-item clearfix">
                        <i class="fa fa-lock fa-lg label-icon"></i>
                        <input type="password" class="form-control" id="password" placeholder="密码">
                    </div>
                </form>
            </li>
        </ul>
        <div class="prompt" role="alert">错误</div>
        <button type="button" class="btn btn-customized" id="submit">登录</button>
        <div class="register">
            <a href="/noteRegister">没有账号，去注册</a>
        </div>
    </div>
</div>
<span id="qqLoginBtn"></span>
<script type="text/javascript">
    QC.Login({
       btnId:"qqLoginBtn"    //插入按钮的节点id
    });
    QC.api("get_user_info", {}) //get_user_info是API参数
        //指定接口访问成功的接收函数，s为成功返回Response对象
        .success(function (response) {
           //成功回调，通过s.data获取OpenAPI的返回数据
           nick=response.data.nickname; //获得昵称
           headurl=response.data.figureurl_qq_1; //获得头像
           if (QC.Login.check()) {//判断是否登录
               QC.Login.getMe(function (openId, accessToken) { //这里可以得到openId和accessToken
                    console.log(response.data,response.data,openId, accessToken);
                    // document.write(response.data,openId, accessToken);
               });
           }
        })
        //指定接口访问失败的接收函数，f为失败返回Response对象
        .error(function (f) {
           //失败回调
           alert("获取用户信息失败！");
       });
</script>
<script src="/js/jquery-1.11.3.min.js"></script>
<script type="text/javascript">
    //获取验证码
    function SignIn() {
        this.init();
    }
    SignIn.prototype={
        constructor: SignIn,
        init: function () {
            this.mode='message';
            this.telephone='';
            this.tabsSwitch();
            this.doSubmit();
            this.teleInput();
        },
        //切换登录方式
        tabsSwitch: function () {
            var _this=this;
            var tabs=$('.modes-tabs .tabs-item'),
                forms=$('.modes-forms .forms-item');
            tabs.each(function (index,element) {
                $(this).click(function () {
                    _this.mode=$(this).attr('mode');
                    _this.promptDom('','hidden');
                    tabs.removeClass('active');
                    $(this).addClass('active');
                    forms.hide();
                    forms.eq(index).show();
                })   
            })
        },
        //登录
        doSubmit: function () {
            var _this=this;
            $('#submit').click(function () {
                if (_this.mode=='message') {
                    var tele=_this.prompt('#telephone','请填写手机号');
                    if (!tele) return;
                    var code=_this.prompt('#identifying-code','请填写验证码');
                    if (!code) return;
                    _this.submitMessage();
                } else if(_this.mode=='password') {
                    var user=_this.prompt('#username','请填写用户名');
                    if (!user) return;
                    var pass=_this.prompt('#password','请填写密码');
                    if (!pass) return;
                    _this.submitPassword();
                }
            })
        },
        //检测手机号输入框
        teleInput: function () {
            var _this=this;
            $('#telephone').bind('input',function () {
                if (_this.testTele()) {
                    $('.get-code').removeAttr('disabled').css({
                        color: '#34495e'
                    });
                    _this.getCode();
                } else{
                    $('.get-code').unbind().attr('disabled','disabled').css({
                        color: '#ccc'
                    });
                }
            });           
        },  
        //正则匹配手机号
        testTele: function () {
            var tele=document.getElementById('telephone').value;
            var myreg=/^[1][3,4,5,7,8][0-9]{9}$/;  
            if (!myreg.test(tele)) {  
                return false;  
            } else{  
                return true;  
            } 
        }, 
        //提示信息
        prompt: function (id,text) {
            var _this=this;
            if ($(id).val()=='') {
                _this.promptDom(text);
                return false;
            }
            return true;
        }, 
        //DOM元素prompt设定
        promptDom: function (text,visible) {
            if (!visible){
                var visible='visible';
            } 
            $('.prompt').html(text).css({
                'visibility': visible
            });
        },
        //点击“获取验证码”按钮，获取验证码
        getCode: function () {
            var _this=this;
            $('.get-code').click(function (event) {
                event.stopPropagation();
                _this.teleCode();
                $('.get-code').unbind().attr('disabled','disabled').css({
                    color: '#ccc'
                });
                var timer=setTimeout(function () {
                    $('.get-code').removeAttr('disabled').css({
                        color: '#34495e'
                    });
                    clearTimeout(timer);
                },120000)
            })
            // return 1;
        },
        //ajax获取手机验证码
        teleCode: function () {
            var _this=this;
            this.telephone=$('#telephone').val();
            $.post('/teleCode',{
                'telephone': _this.telephone
            },function (result) {
                if (result=='-1') {
                    _this.promptDom('手机号码未注册');
                }
                return;
            })
        },
        //短信登录
        submitMessage: function () {
            var _this=this;
            $.post('/login',{
                'mode': 'message',
                'telephone': this.telephone,
                'message': $('#identifying-code').val()
            },function (result) {
                if (result=='1') {
                    window.location='/notePages';
                } else if(result=='-1'){
                    _this.promptDom('手机号未绑定');
                } else if(result=='-2'){
                    _this.promptDom('验证码不正确');
                }
            })
        },
        //密码登录
        submitPassword: function () {
            $.post('/login',{
                'mode': 'password',
                'username': $('#username').val(),
                'password': $('#password').val()
            },function (result) {
                console.log(result);
                if (result=='1') {
                    window.location='/notePages';
                } else if(result=='-1'){
                    $('.prompt').html('用户名不存在！').css({
                        'visibility': 'visible'
                    });
                } else if(result=='-2'){
                    $('.prompt').html('密码错误！').css({
                        'visibility': 'visible'
                    });
                }
            })
        }   
    }
    new SignIn();
</script>
</body>
</html>