<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="/images/favicon.ico">
    <title>注册</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet/less" href="/css/reset.less"/>
    <link rel="stylesheet/less" href="/css/main.less"/>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <script src="/js/less.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="vs register login-register">
    <div class="logo-container">
        <img src="/images/logo.png" alt="" class="logo">
    </div>
    <form>
        <div class="form-item clearfix">
            <i class="fa fa-user fa-lg label-icon"></i>
            <input type="text" class="form-control" id="username" placeholder="用户名">
        </div>
        <div class="form-item clearfix">
            <i class="fa fa-lock fa-lg label-icon"></i>
            <input type="password" class="form-control" id="password" placeholder="密码">
        </div>
        <div class="form-item clearfix">
            <i class="fa fa-file-text-o fa-lg label-icon"></i>
            <input type="text" class="form-control form-captcha" id="captcha" placeholder="验证码">
            <span class="svg"></span>
            <i class="fa fa-repeat fa-lg label-icon svg-repeat"></i>
        </div>
        <div class="prompt" role="alert">错误</div>
        <button type="button" class="btn btn-customized" id="submit">注册</button>
    </form>
</div>
<script src="/js/jquery-1.11.3.min.js"></script>
<!-- <script src="/js/bootstrap.min.js"></script> -->
<script type="text/javascript">
    //获取验证码
    function Captcha(content) {
        this.content=content;
        this.init();
    }
    Captcha.prototype={
        constructor: Captcha,
        init: function () {
            this.getCaptcha();
            this.actions();
        },
        getCaptcha: function () {
            var _this=this;
            $.ajax({
                'url': '/captcha',
                'type': 'get',
                'success': function (result) {
                    if (result) {
                        var content=$(_this.content);
                        content.html(result);
                        var svg=content.find('svg'),
                            width=content.width()/svg.width(),
                            height=content.height()/svg.height();
                        svg.css({
                            transform: 'scale('+width+','+height+')'
                        })
                    } 
                }
            })
        },
        change: function () {
            this.getCaptcha();
        },
        actions: function () {
            var content=this.content,
                _this=this;
            content.click(function () {
                _this.change();
            })
            content.next('.svg-repeat').click(function () {
                _this.change();
            })
        }
                     
    }
    var captcha=new Captcha($('.svg'));   
    //注册 
    function Register() {
        this.init();
    }
    Register.prototype={
        constructor: Register,
        init: function () {
            this.doRegister();
        },
        //注册
        doRegister: function () {
            var _this=this;
            $('#submit').click(function () {
                var user=_this.prompt('#username','请填写用户名');
                if (!user) return;
                var pass=_this.prompt('#password','请填写密码');
                if (!pass) return; 
                var cap=_this.prompt('#captcha','请填写验证码');
                if (!cap) return;
                _this.register();
            })
        },
        //提示信息
        prompt: function (id,text) {
            var _this=this;
            if ($(id).val()=='') {
                _this.promptDom(text);
                return false;
            }
            return true;
        }, 
        //DOM元素prompt设定
        promptDom: function (text,visible) {
            if (!visible){
                var visible='visible';
            } 
            $('.prompt').html(text).css({
                'visibility': visible
            });
        }, 
        //ajax请求后台注册
        register: function () {
            var _this=this;
            $.post('/register',{
                'username': $('#username').val(),
                'password': $('#password').val(),
                'captcha': $('#captcha').val()
            },function (result) {
                if (result=='1') {
                    window.location='/';
                } else if(result=='-1'){
                    $('#captcha').val('');
                    captcha.getCaptcha();
                    _this.promptDom('用户名被占用');
                } else if(result=='-2'){
                    $('#captcha').val('');
                    captcha.getCaptcha();
                    _this.promptDom('验证码错误');
                }
            })
        }     
    }
    new Register();    
</script>
</body>
</html>