<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="/images/favicon.ico">
    <title>注册</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet/less" href="/css/github.less"/>
    <link rel="stylesheet/less" href="/css/reset.less"/>
    <link rel="stylesheet/less" href="/css/main.less"/>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <script src="/js/less.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
<div class="vs register login-register">
    <form>
        <div class="form-item clearfix">
            <i class="fa fa-user-circle-o fa-lg label-icon"></i>
            <input type="text" class="form-control" id="username" placeholder="请输入用户名">
        </div>
        <div class="form-item clearfix">
            <i class="fa fa-lock fa-lg label-icon"></i>
            <input type="password" class="form-control" id="password" placeholder="请输入密码">
        </div>
        <div class="prompt" role="alert">错误</div>
        <button type="button" class="btn btn-customized" id="submit">注册</button>
    </form>
</div>
<script src="/js/jquery-1.11.3.min.js"></script>
<!-- <script src="/js/bootstrap.min.js"></script> -->
<script type="text/javascript">
    $('#submit').click(function () {
        if ($('#username').val()=='') {
            $('.prompt').html('请填写用户名').css({
                'visibility': 'visible'
            });
            return;
        }
        if ($('#password').val()=='') {
            $('.prompt').html('请填写密码').css({
                'visibility': 'visible'
            });
            return;
        }
        //注册
        $.post('/register',{
            'username': $('#username').val(),
            'password': $('#password').val()
        },function (result) {
            if (result=='1') {
                window.location='/';
            } else if(result=='-1'){
                $('.prompt').html('用户名被占用！').css({
                    'visibility': 'visible'
                });
            }
        })
    })
</script>
</body>
</html>