<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>node-note</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/reset.less" rel="stylesheet/less"/>
    <link href="/css/main.less" rel="stylesheet/less"/>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <script src="/js/less.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/underscore-noflect.js"></script>
    <script src="/js/lib/knockout-3.4.0.js"></script>
    <script type="text/javascript">
        (function(){
            var html = document.querySelector("html");
            var width = html.getBoundingClientRect().width;
            html.style.fontSize = width/25 + "px";
        })();
        // @w:1/30rem; 

    </script>
        
</head>
<body>

<div class="container home">
    <%- include('header') -%>
    <div class="content">
        <div id="notes">
            <ul class="notes-items" data-bind="foreach:notes.list">
                <li class="notes-item">
                    <span data-bind="text:text"></span>
                    <span data-bind="text:time"></span>
                </li>
            </ul>
        </div>
    </div>
    <%- include('footer') -%>
    
</div>





<script type="text/javascript">
    $('.record').click(function () {
        $.post('/record',{
            'content': $('.text').val()
        },function (result) {
            /*if (result.result==-1) {
                
            } else if(result.result==1){
                console.log(1);
            }  */    
        })   
    })
    //编辑
    $('#edit').click(function () {
        $('.text').focus();  
    })
    //退出编辑
    $('#complete').click(function () {
        $('.text').blur();  
    })
    //返回备忘录列表
    $('.return-button').click(function () {
        window.location="/register";   
    })
    noteNotes();
    var notes;
    //获取个人所有备忘录文本
    function noteNotes() {
        // console.log(1);
        $.ajax({
            'url': '/noteNotes',
            'type': 'get',
            'success': function (result) {
                if (result) {
                    console.log(result.text);
                    if (!notes) {
                        notes={
                            list: ko.observableArray()
                        };
                        ko.applyBindings(notes,document.getElementById("notes"));
                    }
                    notes.list(result.text);
                } else{
                    // alert('错误！');
                }
            }
        })
    }
        
</script>
</body>
</html>