<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="icon" href="/images/favicon.ico">
    <title>node-note</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/reset.less" rel="stylesheet/less"/>
    <link href="/css/main.less" rel="stylesheet/less"/>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <script src="/js/less.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/jquery-1.11.3.min.js"></script>
</head>
<body>

<div class="container note-info note-user note-password">
    <header class="clearfix header">
        <a href="javascript:history.back(-1)" class="f_l">
            <i class="fa fa-chevron-left fa-lg"></i>
        </a>
        <span class="header-text">密码修改</span>
    </header>
    <div class="content">
        <input type="password" class="form-control change-password old-password" placeholder="旧密码">
        <input type="password" class="form-control change-password new-password" placeholder="新密码">
        <input type="password" class="form-control change-password again-new-password" placeholder="再次输入新密码">
        <div class="prompt" role="alert">错误</div>
        <button type="button" class="btn btn-customized" id="submit">确定</button>
    </div>
</div>

<script type="text/javascript">
    
    function ChangePassword() {
        this.init();
    }
    ChangePassword.prototype={
        constructor: ChangePassword,
        init: function () {
            this.submit();
        },
        submit: function () {
            var _this=this;
            $('#submit').click(function () {
                var old_password=_this.prompt('.old-password','','旧密码不能为空');
                if (!old_password) return;
                var new_password=_this.prompt('.new-password','','新密码不能为空');
                if (!new_password) return;
                var again_new_password=_this.prompt('.again-new-password','','再次输入新密码');
                if (!again_new_password) return;
                var old_new=_this.prompt('.new-password',$('.old-password').val(),'新旧密码不能相同');
                if (!old_new) return;
                if ($('.new-password').val()!==$('.again-new-password').val()) {
                    _this.promptDom('两次新密码输入不同');
                    return;
                }
                _this.toAjax();
            })
        },
        //提示信息
        prompt: function (element,value,text) {
            var _this=this;
            if ($(element).val()==value) {
                _this.promptDom(text);
                return false;
            }
            return true;
        }, 
        //DOM元素prompt设定
        promptDom: function (text,visible) {
            if (!visible){
                var visible='visible';
            } 
            $('.prompt').html(text).css({
                'visibility': visible
            });
        }, 
        //ajax提交后天
        toAjax: function () {
            var _this=this;
            var old_val=$('.old-password').val(),
                new_val=$('.new-password').val();
            $.post('/noteChangePassword',{
                'old_password': old_val,
                'new_password': new_val
            },function (result) {
                if (result=='1') {
                    window.location='/noteUser';                  
                } else if(result=='-1'){
                    _this.promptDom('旧密码不正确');
                } else{
                    return;
                }
            })
        }
                 
    }
    new ChangePassword();
</script>
</body>
</html>