<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="icon" href="/images/favicon.ico">
    <title>node-note</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/reset.less" rel="stylesheet/less"/>
    <link href="/css/main.less" rel="stylesheet/less"/>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <script src="/js/less.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/jquery-1.11.3.min.js"></script>
</head>
<body>

<div class="container note-user">
    <header class="clearfix header">
        <a href="/notePages" class="f_l">
            <i class="fa fa-chevron-left fa-lg"></i>
        </a>
        <span class="header-text">账户信息</span>
    </header>
    <div class="content">
        <!-- 基本信息 -->
        <p class="item-classify">
            <i class="fa fa-id-badge fa-lg"></i>
            <span>基本信息</span>
        </p>
        <div class="info-item clearfix item-username">
            <a href="/noteUsername" class="clearfix">
                <span class="item-name f_l">用户名</span>
                <strong class="item-content f_r">
                    <%=username%>
                    <i class="fa fa-angle-right fa-lg"></i>
                </strong>
            </a>
        </div>
        <!-- 账号绑定 -->
        <p class="item-classify">
            <i class="fa fa-chain fa-lg"></i>
            <span>账号绑定</span>
        </p>
        <div class="info-item clearfix item-telephone">
            <a href="/noteTelephone" class="clearfix">
                <span class="item-name f_l">手机</span>
                <strong class="item-content f_r">
                    <%if (telephone!=='') {%>
                        <%=telephone%>            
                    <%} else{%>
                        绑定手机号
                    <%}%>
                    <i class="fa fa-angle-right fa-lg"></i>
                </strong>
            </a>
        </div>
        <!-- 安全设置 -->
        <p class="item-classify">
            <i class="fa fa-shield fa-lg"></i>
            <span>安全设置</span>
        </p>
        <div class="info-item clearfix item-password">
            <a href="/notePassword" class="clearfix">
                <span class="item-name f_l">登录密码</span>
                <strong class="item-content f_r">
                    ******
                    <i class="fa fa-angle-right fa-lg"></i>
                </strong>
            </a>
        </div>
        <!-- 退出登录 -->
        <div class="info-item clearfix item-signout">
            <a href="/signOut" class="clearfix">
                退出登录
            </a>
        </div>
    </div>
</div>

<script type="text/javascript">
     
</script>
</body>
</html>