<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" name="viewport" />
    <title>node-note</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/reset.less" rel="stylesheet/less"/>
    <link href="/css/main.less" rel="stylesheet/less"/>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <script src="/js/less.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/jquery-1.11.3.min.js"></script>
</head>
<body>

<div class="container note-edit">
    <header class="clearfix header">
        <a href="javascript:;" class="return-button" id="<%=id%>">
            <i class="fa fa-chevron-left fa-lg memorandum"></i>
            备忘录
        </a>
        <strong class="complete f_r" id="complete">完成</strong>
    </header>
    <div class="content">
        <form>
            <div class="note-time">
                <%=notetime%>
            </div>
            <input type="hidden" value="<%=notetime%>" name="time">
            <textarea class="form-control text" rows="3" name="content"><%=text%></textarea>
        </form>
        <div class="mask">
            <div class="mask-bg"></div>
            <div class="buttons">
                <span class="button button-delete">删除备忘录</span>
                <span class="button button-cancel">取消</span>
            </div>
        </div>
    </div>
    <div class="footer clearfix">
        <span class="f_l trash">
            <i class="fa fa-trash fa-lg"></i>
        </span>
        <span class="f_r edit" id="edit">
            <i class="fa fa-edit fa-lg"></i>
        </span>
    </div>
</div>

<script type="text/javascript">
    //返回备忘录列表
    $('.return-button').click(function () {
        var text=$('.text').val()
            id=$(this).attr('id');
        var data=decodeURIComponent($('form').serialize(),true);
        if (text=='') {
            window.location='/notePages';          
        } else{
            $.post('/record/'+id,{
                'data': data
            },function (result) {
                if (result=='1') {
                    window.location='/notePages';
                } else if(result=='-3'){
                    return;//数据库查询错误
                }      
            },'json')   
        }
    })
    //编辑
    $('#edit').click(function () {
        $('.text').focus();  
    })
    //退出编辑
    $('#complete').click(function () {
        $('.text').blur();  
    })
    //遮罩层
    function Mask(content) {
        this.content=content;
        this.init();
    }
    Mask.prototype={
        constructor: Mask,
        init: function () {
            this.bottom=$(this.content).find('.buttons').css('bottom'); 
            this.actions(); 
        },   
        //关闭遮罩层 
        close: function () {
            $(this.content).fadeOut();
        },
        //打开遮罩层
        open: function () {
            $(this.content).fadeIn();
        },
        //按钮上下移动
        buttonsMove: function (bottom,callback) {
            $(this.content).find('.buttons').animate({
                bottom: bottom
            },'fast',function () {
                callback&&callback();   
            })
        },
        transfer: function () {
            var id=$('.return-button').attr('id');
            $.post('/delete/'+id,{
                'follow': true
            },function (result) {
                //判断是否还有数据，没有数据直接重定向到空的编辑页面
                if (result.state=='1') {
                    if (result.id!='') {
                        window.location="/noteEdit/"+result.id;          
                    } else{
                        window.location="/noteEdit/";
                    }
                }
            },'json')  
        },  
        //删除备忘录
        delete: function () {
            var _this=this;
            this.buttonsMove(_this.bottom,function () {
                _this.close();  
                _this.transfer(); 
            });
        },  
        //遮罩层动作
        actions: function () {
            var _this=this;
            $('.trash').click(function () {
                _this.open();
                _this.buttonsMove(0);
            })
            //取消
            $(this.content).find('.button-cancel').click(function () {
                _this.buttonsMove(_this.bottom,_this.close());
            })
            //点击遮罩层
            $(this.content).find('.mask-bg').click(function () {
                _this.buttonsMove(_this.bottom,_this.close());
            })
            //点击删除备忘录按钮
            $(this.content).find('.button-delete').click(function () {
                _this.delete();
            })
        }      
    }
    new Mask($('.mask'));
        
</script>
</body>
</html>