<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="icon" href="/images/favicon.ico">
    <title>node-note</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/reset.less" rel="stylesheet/less"/>
    <link href="/css/main.less" rel="stylesheet/less"/>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <script src="/js/less.js" type="text/javascript" charset="utf-8"></script>
    <script src="/js/jquery-1.11.3.min.js"></script>
</head>
<body>

<div class="container note-info note-user note-telephone">
    <header class="clearfix header" >
        <a href="javascript:history.back(-1)" class="f_l">
            <i class="fa fa-chevron-left fa-lg"></i>
        </a>
        <%if (!telephone) {%>
            <span class="header-text bind-telephone">绑定手机</span>
        <%} else{%>
            <span class="header-text change-telephone" telephone="old">换绑手机</span>  
        <%}%>
    </header>
    <div class="content login-register">
        <div class="forms-item">
            <div class="form-item clearfix">
                <i class="fa fa-phone fa-lg label-icon"></i>
                <input type="tel" class="form-control" maxlength="11" id="telephone" placeholder="手机号" value="<%=telephone%>" hide_telephone=<%=hide_telephone%>>
                <button class="get-code" disabled="disabled">获取验证码</button>
            </div>
            <div class="form-item clearfix">
                <i class="fa fa-file-text-o fa-lg label-icon"></i>
                <input type="text" class="form-control" id="identifying-code" placeholder="验证码">
            </div>
        </div>
        <div class="prompt" role="alert">错误</div>
        <button type="button" class="btn btn-customized bind-telephone" id="submit">确定</button>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        var bind_change=new Bind_change();
        if ($('.header-text').hasClass('bind-telephone')) {
            bind_change.state='bind';
            bind_change.init();      
        } else if($('.header-text').hasClass('change-telephone')){
            $('#telephone').attr('readonly','readonly');
            bind_change.state='';
            bind_change.init();  
            bind_change.buttonState();  
        }
    })
    
    //绑定或者更改手机号
    var Bind_change=function () {};
    Bind_change.prototype={
        constructor: Bind_change,
        init: function () {
            this.telephone='';
            this.doSubmit();
            this.teleInput();
        },
        //点击确定按钮提交
        doSubmit: function () {
            var _this=this;
            $('#submit').click(function () {
                var user=_this.prompt('#telephone','手机号不能为空');
                if (!user) return;
                var code=_this.prompt('#identifying-code','请填写验证码');
                if (!code) return;
                _this.submitMessage();     
            })
        },
        //检测手机号输入框
        teleInput: function () {
            var _this=this;
            $('#telephone').bind('input',function () {
                _this.buttonState();
            });           
        }, 
        //点击按钮状态变化 
        buttonState: function () {
            if (this.testTele()) {
                $('.get-code').removeAttr('disabled').css({
                    color: '#34495e'
                });
                this.getCode();
            } else{
                $('.get-code').unbind().attr('disabled','disabled').css({
                    color: '#ccc'
                });
            }
        }, 
        //正则匹配手机号
        testTele: function () {
            if (this.state=='') {
                return true;  
            } 
            var tele=document.getElementById('telephone').value;
            var myreg=/^[1][3,4,5,7,8][0-9]{9}$/;  
            if (!myreg.test(tele)) {  
                return false;  
            } 
            return true;  
        }, 
        //提示信息
        prompt: function (id,text) {
            var _this=this;
            if ($(id).val()=='') {
                _this.promptDom(text);
                return false;
            }
            return true;
        }, 
        //DOM元素prompt设定
        promptDom: function (text,visible) {
            if (!visible){
                var visible='visible';
            } 
            $('.prompt').html(text).css({
                'visibility': visible
            });
        }, 
        //点击“获取验证码”按钮，获取验证码
        getCode: function () {
            var _this=this;
            $('.get-code').click(function (event) {
                event.stopPropagation();
                _this.teleCode();
                $('.get-code').unbind().attr('disabled','disabled').css({
                    color: '#ccc'
                });
                var timer=setTimeout(function () {
                    $('.get-code').removeAttr('disabled').css({
                        color: '#34495e'
                    });
                    clearTimeout(timer);
                },120000)
            })
            // return 1;
        },
        //ajax获取手机验证码
        teleCode: function () {
            var _this=this;
            this.telephone=$('#telephone').val();
            if (this.state=='') {
                this.telephone=$('#telephone').attr('hide_telephone');  
            }
            $.post('/teleCode',{
                'telephone': _this.telephone
            },function (result) {
                if (result!=='1') {
                    return; 
                }
            })
        },
        //短信登录
        submitMessage: function () {
            var _this=this;
            var state=this.state;
            $.post('/bindTelephone',{
                'telephone': _this.telephone,
                'message': $('#identifying-code').val(),
                'state': state 
            },function (result) {
                if (_this.state=='bind') {
                    _this.bind_callback(result);   
                } else{
                    _this.change_callback(result); 
                }
            })
        },
        //回调函数
        bind_callback: function (result) {
            if (result=='1') {
                window.location='/noteUser';//绑定成功
            } else if(result=='-1'){
                this.promptDom('更换手机号');
            } else if(result=='-2'){
                this.promptDom('验证码不正确');
            }
        },  
        //换绑回调函数
        change_callback: function (result) {
            if (result=='1') {
                this.state='bind';
                $('#telephone').removeAttr('readonly');
                $('.form-control').val('');
                $('#telephone').attr('placeholder','新手机号');  
                this.promptDom('');
            } else if(result=='-1'){
                this.promptDom('手机号未注册');
            } else if(result=='-2'){
                this.promptDom('验证码不正确');
            }
        },  
    }
</script>
</body>
</html>