<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>node-note</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/reset.less" rel="stylesheet/less"/>
    <link href="/css/main.less" rel="stylesheet/less"/>
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <script src="/js/less.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/underscore-noflect.js"></script>
    <script src="/js/lib/knockout-3.4.0.js"></script>
</head>
<body>

<div class="container home">
    <!-- <header class="clearfix header">
        <a href="javascript:;" class="return-button">
            <i class="fa fa-chevron-left fa-lg memorandum"></i>
            备忘录
        </a>
        <strong class="complete f_r" id="complete">完成</strong>
    </header> -->
    <%- include('header') -%>
    <div class="content">
        
    </div>
    <%- include('footer') -%>
    
</div>





<script type="text/javascript">
    $('.record').click(function () {
        $.post('/record',{
            'content': $('.text').val()
        },function (result) {
            /*if (result.result==-1) {
                
            } else if(result.result==1){
                console.log(1);
            }  */    
        })   
    })
    //编辑
    $('#edit').click(function () {
        $('.text').focus();  
    })
    //退出编辑
    $('#complete').click(function () {
        $('.text').blur();  
    })
    //返回备忘录列表
    $('.return-button').click(function () {
        window.location="/register";   
    })
    getNotes();
    //获取个人所有备忘录文本
    function getNotes() {
        $.ajax({
            'url': '/getNotes',
            'type': 'get',
            'success': function (result) {
                if (result) {
                    console.log(result);
                } else{
                    // alert('错误！');
                }
            }
        })
    }
        
</script>
</body>
</html>