<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <link rel="icon" href="/images/favicon.ico">
    <title>node-note</title>
    <script type="text/javascript" src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" charset="utf-8" data-callback="true"></script>
</head>
<body>
<div class="login">
    <!-- hello world! -->
</div>

<script type="text/javascript">
    /*QC.api("get_user_info", {}) //get_user_info是API参数
      //指定接口访问成功的接收函数，s为成功返回Response对象
      .success(function (s) {
         //成功回调，通过s.data获取OpenAPI的返回数据
         nick = s.data.nickname; //获得昵称
         headurl = s.data.figureurl_qq_1; //获得头像
         alert(1);
         if (QC.Login.check()) {//判断是否登录
             QC.Login.getMe(function (openId, accessToken) { //这里可以得到openId和accessToken
              alert(1);
                  console.log(s.data);
                  document.write(s.data,openId, accessToken);
             });
         }
         
      })
      //指定接口访问失败的接收函数，f为失败返回Response对象
      .error(function (f) {
         //失败回调
         alert("获取用户信息失败！");
     });*/
</script>

</body>
</html>